
  <div class="container">
  
    
  <h1>Liste des capsules de spaceX</h1>
  
    <table class="table table-dark table-hover table-rounded">
      <thead>
        <tr>
          <th scope="col">Numéro de vol</th>
          <th scope="col">Nom de mission</th>
          <th scope="col">date de lancement</th>
          <th scope="col">Reussite</th>
          <th scope="col">nom de la capsule</th>
        </tr>
      </thead>
      <tbody *ngFor="let result of lancements">
        <tr>
          <th scope="row">{{result.flight_number}}</th>
          <td>{{result.mission_name}}</td>
          <td>{{result.launch_date_utc}}</td>
          <td>{{result.launch_success}}</td>
          <td>{{result.rocket.rocket_name}}</td>
        </tr>
      </tbody>
    </table>  
  </div>